@model cargosiklink.Models.ViewModel.Account.ChangePasswordViewModel;

<div class="cargo-main-container">
    <h1 class="display-6 text-center cargo-main-title">Изменение пароля</h1><br />
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 d-block mx-auto">
        <form method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="All" style="font-size:22px;"></div>
            <div class="mb-3">
                <input asp-for="OldPassword" placeholder="Введите старый пароль" class="form-control textbox-dg font-weight-bold input-cargo" type="password" />
            </div>
            <div class="mb-3">
                <input asp-for="NewPassword" placeholder="Введите новый пароль" class="form-control textbox-dg font-weight-bold input-cargo" type="password" />
                <input asp-for="ConfirmNewPassword" placeholder="Подтвердите новый пароль" class="form-control textbox-dg font-weight-bold input-cargo" type="password" />
            </div>
            <div class="d-grid gap-2 d-md-block float-right">
                <button type="submit" class="btn btn-cargo">Изменить</button>
            </div>
        </form>
    </div>
</div>